<div class="container">
  <br>
  <br>
<h3>Yeni kullanıcı kaydı yap</h3>
<br>
<form #addCarForm="ngForm" (ngSubmit)="add1(addCarForm)">

  <div class="form-group">
    <input type="text" placeholder="isim" #name="ngModel" [(ngModel)]="model.name" class="form-control" name="name" id="name" required>
    <div *ngIf="name.invalid&&name.dirty" class="alert alert-danger">isim gereklidir.</div>
  </div>

  <div class="form-group">
      <input type="text" placeholder="telefon numarası" #phone="ngModel" [(ngModel)]="model.phone" class="form-control" name="phone" id="phone" required>
      <div *ngIf="phone.invalid&&phone.dirty" class="alert alert-danger">telefon numarası gereklidir.</div>
    </div>

    <div class="form-group">
        <input type="text" placeholder="email" #email="ngModel" [(ngModel)]="model.email" class="form-control" name="email" id="email" required>
        <div *ngIf="email.invalid&&email.dirty" class="alert alert-danger">email gereklidir.</div>
      </div>

            <button type="submit" class="btn btn-success" [disabled]="addCarForm.invalid">yeni kullanıcı ekle</button>
</form>
<br>
<br>
</div>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>kullanıcı başarılı bir şekilde eklendi</strong>
    </p>
  </div>
</div>