<div class="container">
  <br>
  <br>
<h3>Kullanıcı Girişi</h3>
<br>
<form #addCarForm="ngForm" (ngSubmit)="add1(addCarForm)">

  <div class="form-group">
      <input type="text" placeholder="telefon numarası" #phone="ngModel" [(ngModel)]="model.phone" class="form-control" name="phone" id="phone" required>
      <div *ngIf="phone.invalid&&phone.dirty" class="alert alert-danger">telefon numarası gereklidir.</div>
    </div>

            <button type="submit" class="btn btn-success" [disabled]="addCarForm.invalid">giriş yap</button>
            <a class="nav-link" href="userCreate">Kayıt Ol</a>
</form>
<br>
<br>
</div>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>kullanıcı başarılı bir şekilde eklendi</strong>
    </p>
  </div>
</div>