<div class="container">
  <br>
  <br>
<h3>Satışa yeni araba koy</h3>
<br>
<form #addCarForm="ngForm" (ngSubmit)="add1(addCarForm)">

  <div class="form-group">
    <input type="text" placeholder="marka" #marka="ngModel" [(ngModel)]="model.marka" class="form-control" name="marka" id="marka" required>
    <div *ngIf="marka.invalid&&marka.dirty" class="alert alert-danger">Marka gereklidir.</div>
  </div>

  <div class="form-group">
      <input type="text" placeholder="model" #model="ngModel" [(ngModel)]="model.model" class="form-control" name="model" id="model" required>
      <div *ngIf="model.invalid&&model.dirty" class="alert alert-danger">model gereklidir.</div>
    </div>

    <div class="form-group">
        <input type="text" placeholder="yil" #yil="ngModel" [(ngModel)]="model.yil" class="form-control" name="yil" id="yil" required>
        <div *ngIf="yil.invalid&&yil.dirty" class="alert alert-danger">yil gereklidir.</div>
      </div>


      <div class="form-group">
          <input type="text" placeholder="km" #km="ngModel" [(ngModel)]="model.km" class="form-control" name="km" id="km" required>
          <div *ngIf="km.invalid&&km.dirty" class="alert alert-danger">km gereklidir.</div>
        </div>


        <div class="form-group">
            <input type="text" placeholder="fiyat" #fiyat="ngModel" [(ngModel)]="model.fiyat" class="form-control" name="fiyat" id="fiyat" required>
            <div *ngIf="fiyat.invalid&&fiyat.dirty" class="alert alert-danger">fiyat gereklidir.</div>
          </div>

          <div class="form-group">
              <input type="text" placeholder="conNo" #conNo="ngModel" [(ngModel)]="model.conNo" class="form-control" name="conNo" id="conNo" required>
              <div *ngIf="conNo.invalid&&conNo.dirty" class="alert alert-danger">conNo gereklidir.</div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="addCarForm.invalid"> araç ekle</button>
</form>
<br>
<br>
</div>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>araç başarılı bir şekilde satışa kondu.</strong>
    </p>
  </div>
</div>