
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>



<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Araç Satış Otomasyonu</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="car">Araçlar</a>
      <a class="nav-link" href="carCreate">Satış Yap</a>
      <a class="nav-link" href="carDelete">Satış İptal</a>
      <a class="nav-link" href="login">Giriş Yap</a>  
    </nav>
  </div>
</header>
<main role="main" class="inner cover">
  <router-outlet></router-outlet>
</main>
<br>
<br>
<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a></p>
  </div>
</footer>
</div>



</body>


