<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-dark">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Marka</th>
          <th scope="col">Model</th>
          <th scope="col">Yıl</th>
          <th scope="col">Kilometre</th>
          <th scope="col">Fiyat</th>
          <th scope="col">Satıcı</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>{{ car.marka }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.yil }}</td>
          <td>{{ car.km }}</td>
          <td>{{ car.fiyat }}</td>
          <td>{{ car.conNo }}</td>
          <td><button (click)="deleteCar(car.id)">Satış İptal</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>Satış başarılı bir şekilde iptal edildi.</strong>
    </p>
  </div>
</div>